<h6 class="title" mat-dialog-title>Bittrex </h6>
  <div mat-dialog-content>
    <div class="dialog-row">
      <div class="dialog-row-content">
        <strong class="content-name">Last:</strong>
        <div class="content-value"></div>
      </div>
      <div class="dialog-row-content">
        <strong class="content-name">Volume:</strong>
        <div class="content-value"></div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
  </div>