<div class="overlay-content">
    <app-header></app-header>
    <div class="container">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Trade">
                <ng-template matTabContent>
                    <h1 style="color:#FFF">fwef</h1>
                </ng-template>
            </mat-tab>
            <mat-tab label="Settings">
                <ng-template matTabContent>
                    <h1 style="color:#FFF">dawda</h1>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
