<div class="buttons">
  <!-- <mat-slide-toggle>AUTO UPDATE</mat-slide-toggle>
  <mat-slide-toggle>FINDER</mat-slide-toggle> -->
</div>
<mat-accordion [multi]="true">
  <mat-expansion-panel [expanded]="allExpandState" *ngFor="let market of marketList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{market.primary}}/{{market.secondary}} ({{getOrders(market.id)?.length}} selected)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list *ngIf="getOrders(market.id)?.length > 0">
    <mat-list-item>
        <div class="list-container">
          <div class="item-title">Exchange</div>
          <div class="item-title">Price</div>
          <div class="item-title">Quantity</div>
          <div class="item-title">Service Fee</div>
          <div class="item-title">Type</div>
          <div class="item-title">Actions</div>
        </div>
      </mat-list-item>
      <mat-list-item *ngFor="let item of getOrders(market.id)">
        <div class="list-container">
          <div class="item">{{item?.exchangeName}}</div>
          <div class="item">{{item?.price | currency:'USDT':'code':'1.3-3':'pl'}}</div>
          <div class="item">{{item?.quantity}}</div>
          <div class="item">{{item?.exchangeFees}}</div>
          <div class="item">{{item?.type}}</div>
          <div class="item"><i class="material-icons" (click)="deleteOrder(item?.marketId, item?.exchangeId)">remove_circle_outline</i></div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <div class="menu-arbitrage" *ngIf="getArbitrage(market.id)?.arbitrage != null">
      <h3>
        Buy {{getArbitrage(market.id)?.maxQuantity}} on {{getArbitrage(market.id)?.minAsk?.exchangeName}} for {{getArbitrage(market.id)?.minAsk?.price | currency:'USDT':'code':'1.3-3':'pl'}} and sell
        it on {{getArbitrage(market.id)?.maxBid?.exchangeName}} for {{getArbitrage(market.id)?.maxBid?.price | currency:'USDT':'code':'1.3-3':'pl'}}
      </h3>
      <h3>
        Calculated arbitrage: {{ getArbitrage(market.id)?.arbitrage | currency:'USDT':'code':'1.3-3':'pl'}}
      </h3>
    </div>
  </mat-expansion-panel>
</mat-accordion>