<div class="flex-container">
  <div class="element noselect" (dblclick)="openModal()">
    <div class="title">Bittrex</div>
    <div class="alerts">
        <i class="material-icons">highlight_off</i>
    </div>
  </div>
  <div class="element noselect" (dblclick)="openModal()">
    <div class="title">Bitfinex</div>
    <div class="alerts">
        <i class="material-icons">highlight_off</i>
    </div>
  </div>
  <div class="element noselect" (dblclick)="openModal()">
    <div class="title">Coinbase</div>
    <div class="alerts">
        <i class="material-icons">highlight_off</i>
    </div>
  </div>
  <div class="element noselect" (dblclick)="openModal()">
    <div class="title">Kraken</div>
    <div class="alerts">
        <i class="material-icons">highlight_off</i>
    </div>
  </div>
</div>