<!-- <div class="container">
  <p class="alert">
    Cannot find any account. Consider add new in EXCHANGES card by double click on exchange name.
  </p>
</div> -->
<mat-accordion [multi]="true">
  <mat-expansion-panel [expanded]="allExpandState" *ngFor="let exchange of exchangeList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{exchange?.name | uppercase}} ACCOUNT
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list *ngIf="userBalances[exchange?.id]?.length > 0">
      <h3 class="list-title">Balances</h3>
      <mat-list-item>
        <div class="list-container">
          <div class="item-title">Currency</div>
          <div class="item-title">Balance</div>
          <div class="item-title">Available</div>
        </div>
      </mat-list-item>
      <div *ngFor="let row of userBalances[exchange?.id]">
        <mat-list-item>
          <div class="list-container">
            <div class="item">{{row?.Currency}}</div>
            <div class="item">{{row?.Balance}}</div>
            <div class="item">{{row?.Available}}</div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </div>
    </mat-list>
    <mat-list *ngIf="userOrders[exchange?.id]?.length > 0">
      <h3 class="list-title">Orders</h3>
      <mat-list-item>
        <div class="list-container">
          <div class="item-title">Exchange</div>
          <div class="item-title">Time</div>
          <div class="item-title">Type</div>
          <div class="item-title">Quantity</div>
          <div class="item-title">Price</div>
          <div class="item-title">Fee</div>
        </div>
      </mat-list-item>
      <div *ngFor="let row of userOrders[exchange?.id]">
        <mat-list-item>
          <div class="list-container">
            <div class="item">{{row?.Exchange}}</div>
            <div class="item">{{row?.Timestamp}}</div>
            <div class="item">{{row?.Type}}</div>
            <div class="item">{{row?.Quantity}}</div>
            <div class="item">{{row?.Price}}</div>
            <div class="item">{{row?.Fee}}</div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
