  
  <table matSort (matSortChange)="sortData($event)" matSortDisableClear class="table-custom" *ngIf="sortedData.length > 0">
    <tr class="table-header">
        <th mat-sort-header="price">Price</th>
        <th mat-sort-header="amount">Quantity</th>
    </tr>
  
    <tr *ngFor="let element of sortedData | slice:0:5; let i=index" class="table-row">
      <td>{{element.price | currency:'USD'}}</td>
      <td>{{element.amount}}</td>
    </tr>
  </table>
  <div *ngIf="sortedData.length === 0" class="table-no-data">
    No data available.
  </div>