<div class="container">
    <app-bittrex-sell-usd-btc></app-bittrex-sell-usd-btc>
    <app-bitfinex-sell-usd-btc></app-bitfinex-sell-usd-btc>
    <app-coinbase-sell-usd-btc></app-coinbase-sell-usd-btc>
    <app-kraken-sell-usd-btc></app-kraken-sell-usd-btc> 
</div>
<div class="container">
    <app-bittrex-sell-usd-ada></app-bittrex-sell-usd-ada>
    <app-bitfinex-sell-usd-ada></app-bitfinex-sell-usd-ada>
    <app-coinbase-sell-usd-ada></app-coinbase-sell-usd-ada>
    <app-kraken-sell-usd-ada></app-kraken-sell-usd-ada>
</div>
<div class="container">
    <app-bittrex-sell-usd-ltc></app-bittrex-sell-usd-ltc>
    <app-bitfinex-sell-usd-ltc></app-bitfinex-sell-usd-ltc>
    <app-coinbase-sell-usd-ltc></app-coinbase-sell-usd-ltc>
    <app-kraken-sell-usd-ltc></app-kraken-sell-usd-ltc> 
</div>
<div class="container">
    <app-bittrex-sell-usd-eth></app-bittrex-sell-usd-eth>
    <app-bitfinex-sell-usd-eth></app-bitfinex-sell-usd-eth>
    <app-coinbase-sell-usd-eth></app-coinbase-sell-usd-eth>
    <app-kraken-sell-usd-eth></app-kraken-sell-usd-eth> 
</div>
<div class="container">
    <app-bittrex-sell-usd-usdt></app-bittrex-sell-usd-usdt>
    <app-bitfinex-sell-usd-usdt></app-bitfinex-sell-usd-usdt>
    <app-coinbase-sell-usd-usdt></app-coinbase-sell-usd-usdt>
    <app-kraken-sell-usd-usdt></app-kraken-sell-usd-usdt> 
</div>
<div class="container">
    <app-bittrex-sell-usd-xrp></app-bittrex-sell-usd-xrp>
    <app-bitfinex-sell-usd-xrp></app-bitfinex-sell-usd-xrp>
    <app-coinbase-sell-usd-xrp></app-coinbase-sell-usd-xrp>
    <app-kraken-sell-usd-xrp></app-kraken-sell-usd-xrp>
</div>
<div class="container">
    <app-bittrex-sell-usd-zec></app-bittrex-sell-usd-zec>
    <app-bitfinex-sell-usd-zec></app-bitfinex-sell-usd-zec>
    <app-coinbase-sell-usd-zec></app-coinbase-sell-usd-zec>
    <app-kraken-sell-usd-zec></app-kraken-sell-usd-zec> 
</div>