<app-header></app-header>
<div class="space"></div>
<div class="container">
    <app-table-num-rows></app-table-num-rows>
</div>
<div class="container">
    <div class="header">
        <h2>USD/BTC</h2>
    </div>
    <div class="exchanges">
        <div>Bittrex</div>
        <div>Bitfinex</div>
        <div>Coinbase</div>
    </div>
    <div class="data">
        <app-order-book-usd-btc></app-order-book-usd-btc>
    </div>
</div>
<div class="container">
    <div class="header">
        <h2>USD/ETH</h2>
    </div>
    <div class="exchanges">
        <div>Bittrex</div>
        <div>Bitfinex</div>
        <div>Coinbase</div>
        <div>Kraken</div>
    </div>
    <div class="data">
        <app-order-book-usd-eth></app-order-book-usd-eth>
    </div>
</div>
<div class="container">
    <div class="header">
        <h2>USD/LTC</h2>
    </div>
    <div class="exchanges">
        <div>Bittrex</div>
        <div>Bitfinex</div>
        <div>Coinbase</div>
        <div>Kraken</div>
    </div>
    <div class="data">
        <app-order-book-usd-ltc></app-order-book-usd-ltc>
    </div>
</div>
<div class="container">
    <div class="header">
        <h2>USD/XRP</h2>
    </div>
    <div class="exchanges">
        <div>Bittrex</div>
        <div>Bitfinex</div>
        <div>Kraken</div>
    </div>
    <div class="data">
        <app-order-book-usd-xrp></app-order-book-usd-xrp>
    </div>
</div>
<div class="container">
    <div class="header">
        <h2>USD/ADA</h2>
    </div>
    <div class="exchanges">
        <div>Bittrex</div>
        <div>Kraken</div>
    </div>
    <div class="data">
        <app-order-book-usd-ada></app-order-book-usd-ada>
    </div>
</div>
<div class="container">
    <div class="header">
        <h2>USD/ZEC</h2>
    </div>
    <div class="exchanges">
        <div>Bittrex</div>
        <div>Bitfinex</div>
        <div>Kraken</div>
    </div>
    <div class="data">
        <app-order-book-usd-zec></app-order-book-usd-zec>
    </div>
</div>
<app-footer></app-footer> 
