table {
    width: 100%;
  }
.margin-h-25{
  margin: 0 25px;
}
.container {
  display: flex;
  flex-direction: row;

}
.container > .col {
  width: 50%;
}
.container > .col:nth-child(1) {
  margin-right: 2%;
}
mat-paginator {
  display: none;
}