<div class="margin-h-25">
  <h2>Bittrex USD-BTC Last Offers</h2>
 <p>5 most valuable to sell and 5 most cheapest to buy</p>
</div>
<div class="container margin-h-25">

  <div class="col">
    <app-bittrex-buy-usd-btc></app-bittrex-buy-usd-btc>
  </div>
  <div class="col">
    <app-bittrex-sell-usd-btc></app-bittrex-sell-usd-btc>
  </div>
</div>

<div class="margin-h-25">
  <h2>Bittrex ETH-BTC Last Offers</h2>
 <p>5 most valuable to sell and 5 most cheapest to buy</p>
</div>
<div class="container margin-h-25">

  <div class="col">
   <!-- Dodać-->
  </div>
  <div class="col">
    <!-- Dodać-->
  </div>
</div>

