footer {
    height: 70px;
    width: 100%;
    background: #262728;
    color: #FBD026 !important;
    font-size: 14px !important;
    margin-top: 50px;
}
div.fcontainer {
    width: 1310px;
    margin: 0 auto;
    position: relative;
}
.copy {
    position: absolute;
    left: 5px;
    top: 25px;
}
.up > i  {
    position: absolute;
    right: 0;
    top: 14px;
    padding: 8px;
    border: 1px solid #FBD026;
}