<div class="buttons">
  <mat-slide-toggle>AUTO UPDATE</mat-slide-toggle>
  <mat-slide-toggle>FINDER</mat-slide-toggle>
</div>
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        USD/BTC (0 selected)
      </mat-panel-title>
    </mat-expansion-panel-header>
    Sample text
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        USD/ETH (0 selected)
      </mat-panel-title>
    </mat-expansion-panel-header>
    Sample text
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        USD/LTC (0 selected)
      </mat-panel-title>
    </mat-expansion-panel-header>
    Sample text
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        USD/ETH (0 selected)
      </mat-panel-title>
    </mat-expansion-panel-header>
    Sample text
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        USD/ADA (0 selected)
      </mat-panel-title>
    </mat-expansion-panel-header>
    Sample text
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        USD/ZEC (0 selected)
      </mat-panel-title>
    </mat-expansion-panel-header>
    Sample text
  </mat-expansion-panel>
</mat-accordion>