
    <table matSort (matSortChange)="sortData($event)" matSortDisableClear class="table-custom" *ngIf="sortedData.length > 0">
      <tr class="table-header">
          <th mat-sort-header="rate">Price</th>
        <th mat-sort-header="quantity">Quantity</th>
      </tr>
    
      <tr *ngFor="let element of sortedData | slice:0:5; let i=index" class="table-row">
        <td>{{element[0] | currency:'USD'}}</td>
        <td>{{element[1]}}</td>
      </tr>
    </table>
    <div *ngIf="sortedData.length === 0" class="table-no-data">
      No data available.
    </div>