/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    font-family: 'PT Sans', sans-serif;
}

.order-book table {
    width: 100%;
  }
.order-book .margin-h-25{
  margin: 0 25px;
}
.order-book .container {
  display: flex;
  flex-direction: row;
}
.order-book .container > .col {
  width: 50%;
}
.order-book .container > .col:nth-child(1) {
  margin-right: 2%;
}
.order-book mat-paginator {
  display: none;
}